.header {
  background: var(--header-bg-gradient);
  color: white;
  height: 8rem;
  padding: 1.2rem 0;
  position: relative;
}

.logo {
  color: white;
  font-size: 1.45rem;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-family: sans-serif;
  padding-left: 1.2rem;
  text-decoration: none;
}

.childrenContainer {
  margin: 0 auto;
}
