.jobItem {
  margin-bottom: 1.4rem;
}

.jobItem > * {
  text-decoration: none;
  color: inherit;
}

.jobItem h3 {
  line-height: 1.5rem;
}

.logoContainer {
  background: white;
  border-radius: 50%;
  border: 1px solid #ccc;
  height: 65px;
  min-width: 65px;
  margin-right: 1rem;
  overflow: hidden;
}
