.footer {
  background: white;
  box-shadow: var(--card-box-shadow);
  width: 100%;
  padding: 1rem 0;
}

.childrenContainer {
  margin: 0 auto;
}

@media screen and (min-width: 39.3125em) {
  .childrenContainer {
    padding: 0 var(--site-side-padding);
  }
}