.searchForm {
  background: white;
  border-radius: 0.4rem;
  box-shadow: var(--medium-shadow);
  display: flex;
  flex-flow: column;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}

.searchBarContainer {
  width: 100%;
}

.filterButton {
  background: none;
  margin-left: 0.7rem;
}

.searchButton {
  background: var(--color-primary);
  margin: 0 0.7rem 0 0.5rem;
}

.searchButton > span {
  color: white;
  padding: 0 1.15rem;
}

.filterIcon {
  fill: rgba(0, 0, 0, 0.6);
}

.inverted {
  background: rgba(0, 0, 0, 0.5);
}

.inverted .filterIcon {
  fill: white;
}

@media screen and (min-width: 39.3125em) {
  .searchForm {
    flex-flow: row;
    align-items: center;
  }

  .desktopSearchIcon {
    display: inline;
    fill: var(--color-primary);
    margin-left: 0.75rem;
  }

  .searchInput {
    border-right: 1px solid #ddd;
    margin-left: -0.25rem;
    margin-right: 0.5rem;
  }

  .location {
    max-width: 14rem;
  }

  .locationInputContainer {
    border-right: 1px solid #ddd;
    margin-left: -0.2rem;
  }

  .searchInput input,
  .locationInputContainer input {
    width: 95%;
  }

  .searchInput::after,
  .locationInputContainer::after {
    width: calc(100% - 2rem);
  }

  .mobileSearchIcon {
    display: none;
  }

  .filterButton {
    display: none;
  }

  .checkbox {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .searchButton {
    margin-left: 1rem;
  }
}
