.searchForm {
  background: white;
  border-radius: 0.4rem;
  box-shadow: var(--medium-shadow);
  display: flex;
  align-items: center;
  height: 4rem;
  margin-top: 3rem;
  padding-right: 0.7rem;
  position: relative;
  z-index: 1;
}

.filterButton {
  background: none;
  margin-left: 0.7rem;
}

.searchButton {
  background: var(--color-primary);
  margin-left: 0.5rem;
}

.searchButton > span {
  color: white;
  padding: 0 1.15rem;
}

.filterIcon {
  fill: rgba(0, 0, 0, 0.6);
}

.inverted {
  background: rgba(0, 0, 0, 0.5);
}

.inverted .filterIcon {
  fill: white;
}

.filters {
  background: white;
  box-shadow: var(--medium-shadow);
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 4px;
  position: absolute;
  top: 91%;
  width: 100%;
}

.filters hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
}

.filters li {
  height: 4rem;
  padding-left: 1rem;
  padding-right: 0.7rem;
  list-style: none;
}

.filters li:not(:first-of-type) {
  border-top: 1px solid #ccc;
}

.label {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 4px;
}

.inputLabel {
  color: white;
  font-weight: normal;
  position: absolute;
  top: -1.55rem;
}

.checkbox {
  appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 1.55rem;
  margin-left: 0.21rem;
  position: relative;
}

.checkbox::before {
  content: '';
  cursor: pointer;
  border: 2px solid #bbb;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.1s ease-out;
}

.checkbox::after {
  content: '';
  cursor: pointer;
  box-sizing: unset;
  height: 5px;
  width: 12px;
  left: 3px;
  top: 11px;
  margin-top: -6px;
  position: absolute;
  border-bottom: solid 3px white;
  border-left: solid 3px white;
  background: none;
  transform: rotate(-45deg) scale(0);
  transition: transform 0.1s ease-out;
}

.checkbox:checked::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.checkbox:checked::after {
  transform: rotate(-45deg) scale(0.9);
}

.filters button {
  margin-left: 0.6rem;
}

@media screen and (min-width: 39.3125em) {
  .desktopSearchIcon {
    display: inline;
    fill: var(--color-primary);
    margin-left: 0.75rem;
  }

  .searchInput {
    border-right: 1px solid #ddd;
    margin-left: -0.25rem;
    margin-right: 0.5rem;
  }

  .location {
    max-width: 14rem;
  }

  .locationInputContainer {
    border-right: 1px solid #ddd;
    margin-left: -0.2rem;
  }

  .searchInput input,
  .locationInputContainer input {
    width: 95%;
  }

  .searchInput::after,
  .locationInputContainer::after {
    width: calc(100% - 2rem);
  }

  .filterButton {
    display: none;
  }

  .mobileSearchIcon {
    display: none;
  }

  .checkbox {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .searchButton {
    margin-left: 1rem;
  }
}
