/* typography */
.headingLg {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
}

.headingMd {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.headingSm {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.textSm {
  font-size: .93rem;
}

.textCapitalize {
  text-transform: capitalize;
}

.fontWeightNormal {
  font-weight: normal;
}

.textColorSecondary {
  color: rgba(0, 0, 0, .6);
}

.textColorPrimary {
  color: var(--text-color-primary);
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

/* elements */
.card {
  background: white;
  border-radius: 6px;
  box-shadow: var(--card-box-shadow);
  padding: 1rem 1.2rem;
}

.contentContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--site-side-padding);
  padding-right: var(--site-side-padding);
}

/* util */
.maxSiteWidth {
  max-width: var(--site-max-width);
}

.srOnly:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
}

.focusVisible:focus {
  outline: none;
}

.focusVisible:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.noListStyle {
  list-style: none;
}

.noUnderline {
  text-decoration: none;
}

.displayBlock {
  display: block;
}

/* layout */
.flexRow {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.flexEnd {
  justify-content: flex-end;
}

.flex {
  flex: 1;
}

.flexWrap {
  flex-wrap: wrap;
}

/* positioning */
.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.headingMargins {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

@media screen and (max-width: 39.31249em) {
  .hiddenSm {
    display: none;
  }
}