/* typography */
.headingMd {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.headingSm {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.textSm {
  font-size: .93rem;
}

.textCapitalize {
  text-transform: capitalize;
}

.fontWeightNormal {
  font-weight: normal;
}

.textColorSecondary {
  color: rgba(0, 0, 0, .6);
}

/* elements */
.card {
  background: white;
  border-radius: 6px;
  box-shadow: var(--card-box-shadow);
  margin: 0 auto;
  padding: 1rem 1.2rem;
}

.input {
  appearance: none;
  border: none;
  border-radius: 0.4rem;
  color: rgba(0,0,0,.87);
  height: 4rem;
  padding-left: 1rem;
  font-family: 'Roboto';
  font-size: 1.15rem;
  outline: 0;
}

.input::placeholder {
  color: rgba(0,0,0,.48);
  font-size: 1.15rem;
}

/* util */
.noListStyle {
  list-style: none;
}

/* layout */
.flexRow {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.flexEnd {
  justify-content: flex-end;
}

.flex {
  flex: 1;
}

/* positioning */
.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}
