/* typography */
.headingMd {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.headingSm {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.fontWeightNormal {
  font-weight: normal;
}

.textColorSecondary {
  color: rgba(0, 0, 0, .6);
}

/* elements */
.card {
  background: white;
  border-radius: 6px;
  box-shadow: 0.2rem 0.2rem 0.5rem 0px rgba(0, 0, 0, 0.24);
  margin: 2rem auto;
  padding: 1rem 1.2rem;
}

/* util */
.noListStyle {
  list-style: none;
}

/* layout */
.flexRow {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.flex {
  flex: 1;
}

/* positioning */
.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}